.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.home-subtitle {
  font-size: 18px;
  color: #666;
}

.start-cooking-btn {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #ff6347; /* Tomato color */
  border: none;
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.start-cooking-btn:hover {
  background-color: #ff4500; /* Darker tomato color */
}
